<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty was built by <a target="_blank" href="https://github.com/Muzzh">Xavier</a> as the first Web App project while completing <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a> online bootcamp!
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'profile_pic_tall.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Xavier Vanier</h2>
      <br />
      <p>
        Xavier Vanier is a self-taught intermediate programmer. Over the last few months he has focused his efforts on learning python and applying his learned skills to two simple text applications as well as most of the coding challenges from the CodeFights website. His repositories can be visited <a href="https://github.com/Muzzh" class="git-link">here</a>. Currently trying the Firehose Project course, Xavier intends to pursue his learning in coding trough a bootcamp as well as his own projects.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
</div>