<h3>
  <span>Splurty No. <%= @quote.id %></span>
  <u>You know it's been too long since you've danced when ...</u>
</h3>
<br />
<br />
<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />