@font-face {
    font-family: '1942_report1942_report';
    src: font_url('1942-webfont.woff2') format('woff2'),
         font_url('1942-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'veteran_typewriterregular';
    src: font_url('veteran_typewriter-webfont.woff2') format('woff2'),
         font_url('veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}